<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SitecoreAssurance" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>  
  <!-- Example configuration settings -->
  <!--<SitecoreAssurance>
    <add key="BaseUrl" value="https://sitecorecookbook" />
    <add key="RootNodeId" value="394EE7DC-036C-4FDD-9F79-0699296130E0" />
    <add key="ListUrls" value="false" />
    <add key="RunHttpChecker" value="true" />
    <add key="RunWebDriverChecker" value="false" />
    <add key="Domain" value="sitecore" />
    <add key="Username" value="admin" />
    <add key="Password" value="b" />
    <add key="InputFilename" value="list-urls-results.csv" />
  </SitecoreAssurance>-->
</configuration>